@font-face {
    font-family: "HankenGrotesk";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-size: 18px;
}

body {
    min-height: 100vh;
    font-family: "HankenGrotesk" , sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.parent {
    display: flex;
    flex-direction: column;
}

.parent .resultBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    gap: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.resultBox span {
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.resultBox .circle {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resultBox .circle h1 {
    font-size: 3rem;
    color: white;
}

.resultBox h2 {
    font-size: 1.75rem;
    color: white;
}

.resultBox p {
    text-align: center;
    color: hsl(241, 100%, 89%);
    font-size: 18px;
}

.summaryBox {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    flex-grow: 1;
}

.summaryBox h3 {
    font-size: 1.25rem;
    color: hsl(224, 30%, 27%);
}

.summaryBox .summaryItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.summaryBox .summaryItems > div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.summaryBox .summaryItems div .imageAndName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryBox .summaryItems div .imageAndName img {
    margin-right: 10px;
}

.summaryBox .summaryItems div .imageAndName p {
    font-weight: 700;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 10%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 10%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 10%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 10%);
}

.reaction .imageAndName p {
    color: hsla(0, 100%, 67%);
}

.memory .imageAndName p {
    color: hsla(39, 100%, 56%);
}

.verbal .imageAndName p {
    color: hsla(166, 100%, 37%);
}

.visual .imageAndName p {
    color: hsla(234, 85%, 45%);
}

.summaryBox .summaryItems div .score {
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.summaryBox .summaryItems div > p span {
    color: hsla(224, 30%, 27%, 50%);
}

.summaryBox .continueBtn {
    all: unset;
    padding: 15px;
    border-radius: 999999px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.summaryBox .continueBtn:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    body {
        gap: 25px;
    }

    .parent {
        border-radius: 25px;
        width: 700px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        box-shadow: 10px 10px 20px 0px hsl(221, 100%, 96%);
    }

    .parent .resultBox {
        border-radius: 25px;
        gap: 20px;
    }

    .parent .resultBox .circle {
        width: 185px;
        height: 185px;
    }

    .parent .resultBox .circle h1 {
        font-size: 4rem;
    }

    .parent .summaryBox {
        padding: 35px;
    }

    .attribution {
        font-size: 18px;
    }
}